
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto" , sans-serif;

// Colors
$primary: #ff0126;
$secondary: #df0827;
$black: #262626;
$white: #ffffff;
$gray: #8b8b8b;
$tag-background: #fafafa;
